/*
PALETA DE CORES 
    VERDE : #23CE6B
    PRETO : #272D2D
    BRANCO : #F6F8FF
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
  }

article,nav,footer,section,header,aside{
    border: 3px solid black;
}
  
body{
    background-color: #F6F8FF;
}
header{
    --altura: 60px;
    position: fixed;
    top: 0px;
    height : 60px;
    width: 100%;
    background-color: #23CE6B;
    text-align: center;
}

#titulo{
    position:relative;
    top:10px;
    color:#F6F8FF;
}
nav{
    position: relative;
    top: 60px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: #18a753;
}
ul{
    top:10px;
    position: absolute;
    width: 100%;
    text-align: center;
} 

ul.menu li{
    color:#F6F8FF;
    display: inline-block;
}
article{
    position: relative;
    top: 90px;
    width: 90%;
    height:400px;
}
aside{
    position:absolute;
    width: 10%;
    right: 0;
    top: 130px;
    bottom: 100px;
}
#minha-foto{
    width: 200px;
}
