.color{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: inline-block;
}
#color1{
    background-color: black;
}
#color2{
    background-color: #F72585;
}
#color3{
    background-color: #7209B7;
}
#color4{
    background-color: #3A0CA3;
}
.pixel{
    margin-bottom:-5px;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #FFF;
}
#pixel-board{
    width:210px;;
}
.selected{
    size: 50px;
}
